RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ profile.php?url=$1[QSA,L]

DirectoryIndex index.php index.html index.htm index2.html

ErrorDocument 403 https://dj.000.pe/talksta
ErrorDocument 404 https://dj.000.pe/talksta
ErrorDocument 500 https://dj.000.pe/talksta
